*, *::before, *::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font: 400 1rem/1 'PT Sans', sans-serif;
   
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column
}

.slicknav_menu {
    display:none;
}

.container {
    max-width: 1114px;
    padding: 0 15px;
    margin: auto;
}

.btn-default { 
   color: #ffffff;
   background: linear-gradient(90deg, #0CEBEB 0%, #20E3B2 50%, #29FFC6 100%);
   box-shadow: 0px 4px 20px rgba(32, 228, 179, 0.85);
   border-radius: 30px;
   cursor: pointer;
   
}

.btn-default:hover {
    background: linear-gradient(90deg, #86f3f3 0%, #b7ece1 50%, #d1d1d1 100%);
    border-radius: 30px;
}

.btn {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.33;
    padding: 16px 30px;
   
}

.header {
    padding: 40px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
   
  }
  
  .header-nav {
    flex-grow: 1;
  }
  
  .main-header-nav {
    color: #29375A;
    font-weight: 700;
    margin-left: 66px;
  }
  
  .main-header-nav + .main-header-nav,
  .info-header-nav + .info-header-nav {
    margin-left: 30px;
  }
  
  .info-header-nav {
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
  }

.main {
      overflow: hidden;
      padding-bottom: 270px;
      padding-top: 108px;
}

.inner {
    position: relative;
}

.inner-call-to-action {
    overflow: hidden;  
}

.inner-call-to-action::before {
    content: '';
    max-width: 1849px;
    width: 100%;
    height: 1849px; 
    background: url(../img/Ellipse1.png) no-repeat;
    position: absolute;
    left: 0px;
    top: -110px;;
    z-index: -1;
}

.inner-call-to-action::after {
    content: '';
    max-width: 658px;
    width: 100%;
    height: 571px;
    background: url(../img/28465161.png) no-repeat;
    position: absolute;
    left: 600px;
    top: -20px;
}

.inner-call-to-action-title {
    margin-top: 50px;  
    max-width: 542px;
    font-size: 48px;
    line-height: 1.29;
    font-weight: 700;
    color: #FFFFFF;
}

.inner-call-to-action-p {
    margin-top: 15px;
    max-width: 383px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: rgba(255, 255, 255, 0.8);

}

.inner-call-to-action-p > span {
    font-weight: 700;
    color: #fff;
}

.test-your-email {
    margin-top: 50px;
}

.No-Sign {
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.No-Sign-Up-Required {
    max-width: 240px;
    width: 100%;
    margin-top: 15px;
}

.footer {
    position: relative;
}

.footer-email {
    max-width: 490px;
    width: 100%;
}

.footer-span-email{
    font-weight: 700;
    text-transform: uppercase;
    color: #27DEBF;
    margin-bottom: 30px;
}

.footer-title {
    margin-top: 30px; 
   font-weight: 700;
    font-size: 2.57rem;
    line-height: 1.3;
    color: #29375A;
}

.footer-list {
    margin-top: 30px;
    margin-bottom: 120px;
}

.footer-item {
    max-width: 164px;
    width: 100%;
    height: 164px;
    background-color: transparent;
    border: 1px solid  transparent;
    border-radius: 4px;
    position: relative;

}

.footer-item > svg:hover .icons {
    fill: #111;
}

.footer-item:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(2, 71, 149, 0.15);
    border-color: transparent;
}
/* 
.footer-item-svg:hover > #icons {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(2, 71, 149, 0.15);
    border-color: transparent;
    fill: black;
} */



.footer-item > svg { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.footer-list::after{
   content: '';
   background: url(../img/Ellipse2.png)  no-repeat;
   position: absolute;
   max-width: 1200px;
   width: 100%;
   max-height: 300px;
   right: 0px;
   bottom: -160px;
   z-index: -1;
}

@media (max-width:991px) {
    .inner-call-to-action,
    .footer {
        margin-left: 15px;
    } 
    .inner-call-to-action::after {
        background-size: 60% auto;
        left: 310px;
        top: 235px;
        z-index: -1;
    }

    .main {
        padding-bottom: 180px;
        padding-top: 75px;
    }

    .container {
        padding: 0 40px;
    }

    .footer-list {
        flex-wrap: wrap;
    }

    .footer-list {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .footer-list::after {
        display: none;
    }

}

@media (max-width:767px) {
    .slicknav_menu {
        display: block;
       z-index: 1;
       margin-left: auto;
    }

    .header {
        padding: 20px 0;
    }

    .header-nav {
        display: none;
    }

    .main-header-nav + .main-header-nav, .info-header-nav + .info-header-nav {
         margin-left: 0px;
        }

        .main-header-nav {
            font-weight: 400;
            margin-left: 0px;
        }

        .inner-call-to-action-title {
            font-size: 30px;
        }

        .inner-call-to-action-p {
            margin-top: 10px;
            font-size: 15px;
        }

        .test-your-email {
            margin-top: 35px;
        }

        .footer-title {
            margin-top: 15px;
            font-size: 2.2rem;
        }

        .footer-item {
            max-width: 130px;
            height: 130px;
        }

        .inner-call-to-action::before {
            top: -180px;
        }

        .inner-call-to-action::after {
            background-size: 60% auto;
            left: 200px;
            top: 140px;
        }
}

@media (max-width: 479px) {
    .header {
        padding: 15px 0;
    }

    .main {
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .inner-call-to-action-title {
        font-size: 20px;
    }

    .inner-call-to-action-p {
        margin-top: 10px;
        font-size: 12px;
    }

    .test-your-email {
        margin-top: 25px;
    }

    .btn {
        font-size: 12px;
    }
    
    .No-Sign-Up-Required {
        max-width: 180px;
    }

    .No-Sign {
        margin-left: 9px;
    }
    .inner-call-to-action::before {
        background-size: 210% auto;
        top: -50px;
    }


    .inner-call-to-action::after {
        left: 130px;
        top: 100px;
    }


    .footer-span-email {
    font-size: 14px;
    margin-bottom: 18px;
    }   

    .footer-title {
        margin-top: 15px;
        font-size: 2rem;
    }

    .footer-item {
        max-width: 110px;
        height: 110px;


}